<h1>Welcome to Scrabble Score 2000!!</h1>
<h3>Your place for the best scrabble scores</h3>
<form action="/scrabble">
  <div class="form-group">
    <label for="word_input">What's like your stupid word, bro?</label>
    <input id="word_input" name="word_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-danger">Hit it!</button>
</form>
